# 6 - Depois, com a ajuda do CoPilot procure todas as variáveis necessárias do ENV abaixo.

# =========================
# GOOGLE
# =========================
GCP_PROJECT_ID="????????????"
GOOGLE_APPLICATION_CREDENTIALS=???????????????????????.json
# =========================
# AZURE
# =========================
AZURE_STORAGE_ACCOUNT="stfiapoin4ci2kb4w7c" 
# AZURE-STORAGE-ACCOUNT
AZURE_STORAGE_CONTAINER="bronze"

#KEY1
AZURE_STORAGE_KEY="????????????????????????"
AZURE_STORAGE_CONNECTION = "??????????????????????????????????????????????????????????"

# 
AZURE_TENANT_ID="??????????????????????"
AZURE_CLIENT_ID="?????????????????????????"
AZURE_CLIENT_SECRET="??????????????????????????????"
AZURE_SUBSCRIPTION_ID="?????????????????????"

AZURE_RESOURCE_GROUP=rg-fiap-techchallenge-prod
AZURE_LOCATION=eastus

# =========================
# Databricks
# =========================
AZURE_DATABRICKS_HOST=??????????????
AZURE_DATABRICKS_TOKEN="????????????????"
# Caminho do job Spark (Notebook ou script Python)
SPARK_JOB=/Repos/fiap-techchallenge/jobs/main.py
# Arquivo de logs
SPARK_LOG=logs/spark_output.log
# Containers
AZURE_CONTAINER_BRONZE=bronze
AZURE_CONTAINER_SILVER=silver
AZURE_CONTAINER_GOLD=gold
AZURE_KEYVAULT_NAME=kvfiaptechprod

RESOURCE_GROUP="rg-fiap-techchallenge-prod"
STORAGE_ACCOUNT="?????????"
EVENTHUB_NAMESPACE="evh-fiap-techchallenge"
DATABRICKS_WORKSPACE="dbw-fiap-techchallenge"
LOG_ANALYTICS_WORKSPACE="law-fiap-techchallenge"



