# =========================
# Build / Compilados
# =========================
*.json
*.log
*.tmp

# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# =========================
# Databricks / Spark
# =========================
logs/

# =========================
# Credenciais / Secrets
# =========================
.env

